
    <div class="c-az">
        <div class="o-wrap">
            
            <header class="o-header aligncenter">
                <h2 class="o-lead o-lead--1">Firmowa strona od a-z</h2>
            </header>
            
            <ul class="c-az__icons">
                <li class="anim anim--left">
                    <img src=<%= require("./img/assets/www.png") %> alt="www" width="159">
                </li>
                
                <li class="anim anim--delay3 anim--up">
                    <img src=<%= require("./img/assets/search.png") %> alt="web" width="192">
                </li>
                
                <li class="anim anim--right">
                    <img src=<%= require("./img/assets/bulb.png") %> alt="bulb" width="186">
                </li>
            </ul>

            <article class="o-article aligncenter anim anim--up">
                <p>Nie musisz znać się na programowaniu, grafice i serwerach.</p>
                <p>Nasz zespół to specjaliści z różnych dziedzin. Dzięki ich wiedzy i doświadczeniu, możemy</p>
                <p>zaproponować Ci pełne wsparcie na każdym etapie budowania strony.</p>         
            </article>
            
            <div class="o-more aligncenter">
                <a href="#" class="o-btn o-btn--blue o-btn--shadow o-btn--major">
                    <span>Zarejestruj się</span>
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
