    
        <div class="c-cost">
            <div class="o-wave">
                <div class="o-wave__article aligncenter">
                        
                    <div class="o-wrap">
                        <div class="o-article anim anim--up">
                            <h1>Ile to kosztuje?</h1>
                            <p>Średni koszt projektu firmowej strony to około 1000 zł, a proces jej tworzenia trwa co najmniej kilka dni.</p>
                            <p>W naszej usłudze nie płacisz za projekt.</p>
    
                            <p>&nbsp;</p>
    
                            <p>Udostępnimy Ci przygotowane przez nas szablony i dostosujemy pod Twój biznes - za darmo!</p>
                            <p>Koszt serwera i domeny to jedynie 29,99 zł miesięcznie.</p>
                        
                            <div class="o-more">
                                <a href="#plan" class="o-btn o-btn--outline o-btn--major js-goto">
                                    <span>Sprawdź plan firmowy</span> 
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>            
                </div>
                
                <div class="o-wave__image"></div>
                
                <div class="o-wave__wave">
                    <img src=<%= require("./img/waves/cost.png") %> alt="" width="2000" height="520">
                </div>
            </div>
        </div>
    
    
