    
        <footer class="c-footer">
            <div class="o-cols">
                <div class="o-cols__item">
                    
                    <div class="col">
                        <a href="index.html" class="o-logo">TikTak</a>
                        <p class="copyrights">Copyright &copy; 2020 TIKTAK</p>
                    </div>   
    
                    <div class="col">
                        
                        <div class="o-article">
                            <p>Excepteur sint occaecat cupidatat non proident, </p>
                            <p>sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        
                        <nav class="c-navfooter">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                
                                <li>
                                    <a href="#">Moje konto</a>
                                </li>
                                
                                <li>
                                    <a href="#">Szablony</a>
                                </li>
                                
                                <li>
                                    <a href="#">Regulamin</a>
                                </li>
                                
                                <li>
                                    <a href="#">Zarejestruj się</a>
                                </li>
                                
                                <li>
                                    <a href="#">Oferta</a>
                                </li>
                                
                                <li>
                                    <a href="#">Polityka prywatności</a>
                                </li>
                                
                                <li>
                                    <a href="#">Zaloguj się</a>
                                </li>
                            </ul>
                        </nav>
                    </div>             
                </div>
                
                <div class="o-cols__item">
                    <div class="c-footer__socialregister">
                        <% include social %>
                        <% include regbutton %>
                    </div>
                    
                    <div class="o-article">
                        <p>Skontaktuj się z nami</p>
                    </div>
                    
                    <div class="c-footer__address">
                        <address>
                            <p>email:  zwemer@gmail.com</p>
                            <p>tel.   500 316 683</address>
                        </address>
                        
                        <address>
                            <p>TIKTAK</p>
                            <p>ul. Chopina 34</p>
                            <p>41 - 400 Mysłowice</p>
                        </address>
                    </div>
                </div>
            </div>
        </footer>