    
        <div class="c-homeslider">
            <div class="o-wave">
                <div class="o-wave__article aligncenter">
                        
                    <div class="o-wrap">
                        <div class="o-article">
                            <h1>Twoja idealna firmowa strona</h1>
                            <p>Kompleksowa usługa skierowana do niewielkich firm.</p>
                            <p>Oferujemy wszelkie niezbędne elementy do stworzenia idealnej internetowej wizytówki − gotowe szablony, serwery i&nbsp;domeny.</p>
                        
                            <div class="o-more">
                                <a href="#" class="o-btn o-btn--outline o-btn--major">
                                    <span>Sprawdź naszą ofertę</span> 
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>            
                </div>
                
                <div class="o-wave__image"></div>
                
                <div class="o-wave__wave">
                    <img src=<%= require("./img/waves/top.png") %> alt="" width="2000" height="520">
                </div>
            </div>
        </div>
