    
        <div class="c-plans" id="plan">
                        
            <div class="c-box anim anim--up">
                <div class="c-box__header">
                    <div class="icon">
                        <img src=<%= require("./img/assets/award.png") %> alt="award" width="50" height="68">
                    </div>
    
                    <h4 class="title">Plan firmowy</h4>
                </div>
                
                <div class="c-box__content">
                    <div class="pricebox">
                        <p class="price">29.00 zł</p>
                        <p class="date">miesięcznie</p>
                    </div>
                    
                    <a href="#" class="o-btn o-btn--blue o-btn--shadow o-btn--major">
                        <span>Kup teraz</span>
                        <i class="icon-arrow-right"></i>
                    </a>
                    
                    <ul class="c-box__benefits">
                        <li>szablon do wyboru</li>
                        <li>1 GB miejsca na serwerze</li>
                        <li>własna domena</li>
                    </ul>
                    
                    <div class="c-box__copyrights aligncenter">
                        <p>Przeczytaj <a href="#">regulamin</a></p>
                        <p>Przeczytaj <a href="#">politykę prywatności i cookies</a></p>
                    </div>
                </div>
            </div>
        </div>
