    
                <div class="c-regbutton">
                    <a href="#" class="o-btn o-btn--outline o-btn--minor">
                        <i class="icon-lock"></i>
                        <span>Rejestracja</span>
                    </a>
                </div>
