    
        <div class="c-top js-top">
            <a href="index.html" class="o-logo">TikTak</a>
            
            <div class="c-top__nav">
                
                <% include nav %>
                <% include regbutton %>
                
                <div class="o-hamburger js-hamburger"></div>
                
            </div>
        </div>
