.c-templates {
    @extend %rel;
    margin: {
        top: -120px;
        bottom: 280px;
    }
    
    @media ( max-width: $desktop + px ) {
    	margin-bottom: desktop(280);
    }
    
    @media ( max-width: $desktop + px ) {
        margin-top: desktop(-120);
    }

    &__list {
        max-width: $desktop + px;
        margin: 0 auto;
    } 
    
    &__row {
        @extend %flex;
        
        @media ( max-width: $tablet_portrait + px ) {
            flex-wrap: wrap;
            justify-content: center;
        }
        
        
            
        .item {
            background-color: $c-blue-02;
            margin-bottom: 1px;
            
            @media ( max-width: $tablet + px ) {
                width: 20%;
                overflow: hidden;
            }
            
            @media ( max-width: $tablet_portrait + px ) {
            	width: 25%;
            }
            
            @media ( max-width: $smartphone + px ) {
        	    width: 33%;
            }
            
            &:not(:last-of-type) {
                box-shadow: inset -1px 0 0 0 white;
               //margin-right: 1px;
            }
            
            a {
                display: block;
                height: 100%;
                opacity: .4;

                &:hover {
                    opacity: 1;
                }
            }
            
            img {
                @media ( max-width: $tablet + px ) {
                    object-fit: cover;
                    height: 100%;
            	    //object-fit: cover;
                    //max-width: none;
                   // height: 100%;
                }
            }
        }
    }
    
    .o-article {
        margin-bottom: 100px;
        
        @media ( max-width: $desktop + px ) {
        	margin-bottom: desktop(100);
        }
    }
}

