<% include ./src/includes/head %>
<body>
    
    <div class="o-container">

    <% include ./src/includes/top %>
    <% include ./src/includes/homeslider %>
    <% include ./src/includes/az %>
    <% include ./src/includes/cost %>
    <% include ./src/includes/templates %>
    <% include ./src/includes/payments %>
    <% include ./src/includes/plans %>
    <% include ./src/includes/footer %>

    </div>

</body>
</html>
